@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
body {
  font-family: "Nunito", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}
section {
  width: 270px;
  height: 560px;
  margin-right: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(185, 185, 185, 0.473);
}

.first-section__header {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
  cursor: pointer;
}
.first-section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-section__title img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px 5px rgba(185, 185, 185, 0.473);
}
.first-section__title__text {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.first-section__title__text span:last-child {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgb(201, 201, 201);
  margin-top: 3px;
}
.first-section__button {
  display: flex;
  justify-content: center;
  padding: 20px 20px 0px 20px;
}
.first-section__button span {
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 40px;
}
.first-section__button span:first-child {
  background-color: #222222;
  color: white;
}
.first-section__button span:last-child {
  box-shadow: 0px 0px 5px 2px #f1f1f1;
  color: #bab8bc;
}
.first-section__button span:last-child i {
  padding: 5px;
  color: #222222;
}
.first-section__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}
.first-section__list li {
  border-radius: 10px;
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}
.first-section__list .mid {
  width: 245px;
  height: 55px;
  margin-bottom: 7px;
  box-shadow: 0px 0px 20px 1px rgba(185, 185, 185, 0.473);
}
.first-section__list .mid .img {
  color: rgb(255, 255, 255);
  position: relative;
}
.first-section__list .mid .img i {
  position: absolute;
  top: 12px;
  left: 17px;
}

.first-section__list li div img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
}
.first-section__list li .info {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: #bab8bc;
}
.first-section__list li .info span:last-child {
  font-weight: 600;
  font-size: 10px;
  color: #222222;
}
.first-section__list .mid .info span {
  color: #facc66;
}
.first-section__list .mid .info span:last-child {
  color: #facc66;
}
.first-section__list li i {
  cursor: pointer;
  position: absolute;
  right: 15px;
}

/* play btn */
.first-section__ply {
  box-shadow: 0px 0px 20px 10px rgba(143, 143, 143, 0.322);
  background-color: #222222;
  width: 250px;
  height: 50px;
  border-radius: 130px;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}
.first-section__ply__info {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-right: 60px;
}
.first-section__ply__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.first-section__ply__btn i:nth-child(2) {
  margin: 0 15px;
  font-size: 20px;
}
.first-section__ply .first-section__ply__info span:first-child {
  color: #bab8bc;
}
/* second */
.second-section {
  background-color: #1d1c1c;
  color: #f1f1f1;
}
.second-section__title {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.second-section__title span:first-child {
  font-weight: 600;
  font-size: 13px;
}
.second-section__img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.second-section__img img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.second-section__lylic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin-bottom: 30px;
}
.second-section__lylic span:last-child {
  color: rgb(141, 141, 141);
  font-size: 11px;
}
.second-section__bar {
  display: flex;
  flex-direction: column;
}
.second-section__bar__time {
  display: flex;
  justify-content: space-between;
  font-size: 5px;
  margin: 0px 25px;
  color: #bab8bc;
}
.second-section__bar__time span:first-child {
  color: #facc66;
}
.second-section__bar__line__stamp {
  margin-top: 8px;
  height: 4px;
  width: 80%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}
.second-section__bar__line__stamp1 {
  position: absolute;
  height: 4px;
  width: 50%;
  border-radius: 40px;
  background-color: #facc66;
  top: 8px;
  left: 28px;
}
.second-section__bar__line {
  display: flex;
  justify-content: center;
  position: relative;
}
.second-section__bar__line i {
  position: absolute;
  font-size: 10px;
  top: 6px;
  left: 160px;
  cursor: pointer;
}

.second-section__ply {
  margin: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.second-section__ply i:nth-child(3) {
  font-size: 45px;
}
.second-section__ply i:first-child,
.second-section__ply i:last-child {
  color: #8b8b8b;
}
.second-section__ply i:first-child {
  color: #facc66;
}
.second-section__ply i:nth-child(2),
.second-section__ply i:nth-child(4) {
  font-size: 20px;
}
